{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <body class="container bg-dark text-white" style="padding-top: 8rem; min-height: 1000px">
        <h1 class="text-center h3 mb-5 font-weight-normal">Connectez-vous s'il vous plaît !</h1>
        <div class="d-flex justify-content-center">
            <form class="login100-form bg-light" method="POST">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                    <div class="wrap-input100">
                        <input class="input100 text-dark" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="btn btn-success btn-xl js-scroll-trigger mt-3" type="submit">Valider</button>
                    </div>

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mt-3 mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                    #}
                </form>
        </div>
    </body>
{% endblock %}
