{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <body class="container bg-dark text-white" style="padding-top: 8rem; min-height: 1000px">
    <h1 class="text-center mb-5">Ajouter un nouveau produit</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center row">
        <button class="btn btn-success btn-xl js-scroll-trigger mt-3 mr-3 ml-3">{{ button_label|default('Valider') }}</button>
        <a class="btn btn-light btn-xl js-scroll-trigger mt-3 mr-3 ml-3" href="{{ path('home_index') }}">Accueil</a>
        <a class="btn btn-light btn-xl js-scroll-trigger mt-3 mr-3 ml-3" href="{{ path('shop_index') }}">Boutique</a>
    </div>
    {{ form_end(form) }}
    </body>
{% endblock %}