<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Broc En Scène{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Site de vente de meubles ancien rénové" />
        <meta name="author" content="Khaled Benharrat" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('/img/favicon-broc.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Font Awesome icons (free version)-->
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
            <!-- Third party plugin CSS-->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body id="page-top">
    {% include 'navbar.html.twig' %}

        {% for category, messages in app.flashes %}
            {% for message in messages %}
            <section class="bg-dark">
                <div class="container alert alert-{{ category }}" style="margin-top: 100px;">
                    {{ message }}
                </div>
            </section>
            {% endfor %}
        {% endfor %}

        {% block body %}
            {% block footer %}{% endblock %}
        {% endblock %}
    </body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <!-- Bootstrap core JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
            <!-- Third party plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
            <script src="{{ asset('js/base.js') }}"></script>
        {% endblock %}
</html>
